
body {
    font-size: 14px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #212b36;
    line-height: 1.5;
    letter-spacing: 0.4px;
    /* background-color: #F4F6F8; */
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 100vw;
    overflow: hidden auto;
    /*filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));*/
}

.wrapper{
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff !important;
}

.mymodal {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 6px;
    outline: 0;
    /* box-shadow: 0 2px 16px 0 rgba(33, 43, 54, 0.08), 0 31px 41px 0 rgba(33, 43, 54, 0.2); */
    box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.12) , 0 3px 6px 0 rgba(0,0,0, 0.12);
}

.navbar-nav > .nav-item{
    color: white;
}

.black-nav > .nav-item{
    color: black;
}

.black-nav > .nav-item.active{
    color: black;
}

.navbar-light .navbar-nav > .nav-item > a{
    color: black;
}


.navbar-light .navbar-nav > .nav-item > a.auth-btn{
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #FF922C;
}

.navbar-dark .black-nav .nav-link {
    color: rgba(43, 43, 43, 0.788) !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FF922C;
    /*transition: all .7s ease-in ;*/
    transition: left 3s ease-in-out;
}

.navbar-brand{
    margin-left: 52px;
    font-weight: 500;
    color:#FF922C !important;
}

.navbar-collapse{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.custom{
    border-bottom: 1px solid #EBECED
}

.auth-btn{
    padding: 12px 24px;
    height: 44px;
    background: #FF922C;
    border-radius: 16px;
    color: white;
}

.arc{
    position: absolute;
    width: 1213px;
    height: 1013px;
    margin-left: 545px;
    top: -500px;
    z-index: -999;
    background: #FFEEDE;
    border-radius: 50%;
    overflow: hidden;
}

.hero-text{
    margin-left: 53px;
    /*max-width: 460px;*/
}

.hero-inner-text{
    max-width: 460px;
}

.himg1{
    position: relative;
    left: 45%;
    border-radius: 40%;

}

.himg2{
    border-radius: 50%;
    top: -60px;
    position: relative;
    right: 35%;
}

.hero-text h3{
    font-family: Comfortaa, sans-serif;
    font-weight: bold;
    font-size: 55px;
    line-height: 69.77px;
    letter-spacing: 0.313023px;
}

.hero-text p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: 0.2px;
    color: #5C5C5C;
}

.theme-bg{
    background-color: #FF922C;
}

.theme-color{
    color: #FF922C;
}



.action-btn{
    box-shadow: 0px 20px 40px #F4E2D1;
    border-radius: 16px;
    text-transform: uppercase;
    padding: 10px 25px;
    width: max-content;
}

.hero-search{
    width: 93%;

    border-radius: 16px;
    background-color: #ffffff;
}

.search-btn{
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}

.search-btn, .search-input{
    padding: 24px;
}

.search-input .form-group{
    margin-bottom: 0;
}

.hero-search-container{
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
    position: relative;
}

.hero{
    /*border: 1px solid black;*/
}

#m-srch-btn{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

/*Section how it works starts*/

.how-it-works, .restaurant{
    margin-top: 50px;
    filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.04));
}

.how-it-works-header{
    margin-bottom: 16px;
}

.how-it-works-header h3, .restaurant-header h3{
    font-family: Comfortaa, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    text-transform: capitalize;
}

.how-it-works-content, .restaurant-content{
    padding: 0 100px;
}

.how-widget-img img{
    height: 130px;
}

.how-widget{
    background-color: #ffffff;
    margin: 20px 0;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 16px;
}

.how-widget-text{
    padding: 10px 36px;
    font-size: 16px;
    line-height: 33px;
}

/*.how-widget-text */

.how-widget-text h4{
    font-family: Comfortaa, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #131333;
    padding-top: 15px;
}

/*Section how it works ends*/

/*Metric section */

.metrics{
    padding-top: 40px;
    background-color: #FFEEDE;
    margin: 40px;
    border-radius: 16px;
    margin-top: 100px;
}

.metric-item{
    margin-bottom: 15px;
}

.metric-number{
    font-family: Comfortaa, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.2px;
    color: #131333;
}

.metric-title{
    font-family: Poppins, sans-serif;
    font-size: 24px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #5C5C5C;
}

/* Metric section ends*/


/*Restaurant header*/
.restaurant-header {
    margin-top: 50px;
    margin-bottom: 30px;

}
.more-btn{
    margin: 100px auto;
    width: 300px;
}

.more-btn a{
    border: 1px solid #FF922C;
    box-sizing: border-box;
    filter: drop-shadow(0px 20px 40px #F4E2D1);
    border-radius: 69px;
    display: inline-block;
    padding: 20px 100px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FF922C;
}
.meta{
    margin-bottom: 24px;
}

.card-title{
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #131333;
    font-weight: bold;
}

.featured-card{
    border-radius: 16px;
    border: 0;
}

.rating-badge{
    font-size: 10px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.2em;
    border-radius: 4px;
    color: #FFFFFF;
}

.total-order{
    border: 1px solid #D7D8D9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 4px;
    color: #FF922C;
    font-size: 10px;
}

.card-text{
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    color: #6E798C;
    margin-bottom: 24px;
}

.view-more{
    padding: 12px 10px;
    border-radius: 16px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.18em;
    color: #FFFFFF;
    font-weight: bold;
}

/* footer */
.footer-item p a, .policy a{
    color: white !important;
}

.footer-item h5{
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.231818px;
    color: #FF922C !important;
}

.copyright-policy{
    padding-bottom: 20px;
    margin-top: 80px;
}


/* Restaurants page*/

.page-title{
    margin-top: 50px
}

.page-title h3{

    display: flex;
    align-items: center;
    text-align: center;

}

.r-p-heading{
    font-family: Comfortaa, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 70px;
    letter-spacing: 0.213023px;
    color: #131333;
}



.filter-container{
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
    position: relative;
    margin-bottom: 40px;
}

.all-restaurants{
    filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.04));
}

.all-restaurants-content{
    padding: 0px 40px;
}

/* Restaurants page ends*/

/* Single restaurant page starts*/
.drop-shadow{
    filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.04));
}

.breadcrumb-item + .breadcrumb-item::before {
    color: green;
    content: ">";
}


.restaurant-tabs{
    background-color: white;
}

.restaurant-tabs > .nav-pills{
    background-color: inherit !important;
}

.restaurant-tabs > .nav-pills li{
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    margin: 0px 15px;
    padding: 0px 45px;
 }

.r-tab li a{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #131333;

    padding: 12px 0px;
    border-radius: 0 !important;
}

.r-tab li a.active{
    border-bottom: 2px solid #FF922C;
    background-color: unset !important;
    color: #131333 !important;
}

.r-cart{
    border-radius: 16px;
    margin: 0px 25px;
    border: 0;
}

.r-cart-header{
    border-radius: 16px 16px 0 0 !important;
    background: linear-gradient(0deg, #FFEEDE, #FFEEDE);
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #131333;
    border-bottom: 0;
}

.categories{
    background: #FFFFFF;
    border: 1.5px solid #EBECED;
    border-radius: 16px;

}

.category-header{
    padding: 20px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    color: #131333;
}

.categories > .list-group > .list-group-item{
    border: 0;
    color: #131333;

}


.categories > .list-group > .list-group-item.active{
    border-left: 3px solid #FF922C;
    color: #131333;
    margin-left: -1px;
    background-color: unset !important;
}

.review-container h3, .info-container h3{
    font-size: 24px;
    line-height: 25px;
    font-weight: bold;
}

.total-title{
    font-size: 16px;
    line-height: 24px;
}

.grand-title{
    color: #131333;
}

.grand-container, .subtotal-container, .del-container{
    padding-bottom: 10px;
}

#grand, #delivery, #subtotal{
    font-size: 16px;
    line-height: 24px;
    text-align: right;

    color: #000000;
}

.update-btn{
    color: white;
    padding: 0;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
}

.item-c{
    margin-left: -5px;
    margin-right: -5px;
    max-height: 200px;
    overflow-y: hidden;
}

.item-c:hover{
    overflow-y: scroll;
}

.item{
    box-sizing: border-box;
    margin: 12px 0px;
}

.remove{
    background-color: #374A59;
    border: 1px solid black;
    border-radius: 50%;
}

.checkout-btn{
    color: white;
    border-radius: 8px;
}

.add-to-cart{
    font-size: 14px;
    line-height: 25px;
    color: white !important;
    border-radius: 16px;
}

/* Single restaurant page ends*/

/* Checkout page */

.review-breadcrumb > nav > .breadcrumb{
    background-color: white;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.213023px;
    color: #6E798C !important;
}

.review-breadcrumb > nav > .breadcrumb > .breadcrumb-item + .breadcrumb-item::before {
    color: #FF922C;
    content: ">";
}

.review-breadcrumb > nav > .breadcrumb > .breadcrumb-item a{
    color: #6E798C !important;
}

.review-breadcrumb > nav > .breadcrumb > .breadcrumb-item.active{
    color: #6E798C !important;
}

.revieworder-card > .card > .card-header{
    background-color: white;
    font-size: 24px;
}

.revieworder-card{
    margin-bottom: 20px;
}

.revieworder-card > .card > .card-body{
    /*border: 1px solid #EBECED;*/
    padding: 0;
}

.voucher-wrapper{
    border-bottom: 1px solid #EBECED;
    padding: 1rem;
}

.voucher{
    /*margin: 0 1.25rem;*/
}

.review-address{
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.213023px;
    color: #131333;
    padding: 15px
}


.voucher > .form-inline > .form-control{
    border-radius: 16px;
}

.voucher-btn{
    border-radius: 16px;
    font-size: 13px;
    color: white;
}

.review-cart{
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
    margin: 20px;
}

.review-delivery-time{
    padding: 15px;
}
.pre-order{
    margin-top:20px;
}

.pre-order span{
    line-height: 30px;
}

.o-sum-title{
    border-bottom: 1px solid #EBECED;
}

.o-sum-title h6{
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.213023px;
    color: #131333;
}

.order-items > table >thead{
    background: #FAFAFA;
}

/* Checkout page ends*/

/* Sign in and signup pages*/
.bg-image {
    background-image: url('../img/ononirufood.png');
    background-size: cover;
    background-position: center center;
}

.full-height{
    height: 100vh;
}

.login-header{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #131333;
}

.login{
    max-height: 100vh;
    overflow-y: auto;
    padding-bottom: 30px;
}

.login-text{
    border-bottom: 1px solid #EBECED;
    margin-bottom: 20px;
}

.signin input{
    border: 1px solid #FF922C;
    border-radius: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.04));
}

.signin button{
    border-radius: 16px;
}

.signin a:hover{
    color: #F89E4C;
}

/*Sign in and signup ends*/


/* Users dashboard and layout*/

.inner-wrapper main{
    margin-left: 60px;

}

.inner-wrapper > .sidebar{
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
    position: fixed;
    background-color: #FFFFFF;
    transition: height 500ms ease;
}

.sidebar-top{
    top: 0;

}

.sidebar-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profile.active svg path, .profile:hover svg path{
    fill: #FF922C;
}

.orders.active > svg > path, .orders:hover > svg > path{
    stroke: #FF922C;
}
.orders.active > svg > path:last-child, .orders:hover > svg > path:last-child{
    fill: #FF922C;
}

.notifications.active svg path, .notifications:hover svg path{
    stroke: #FF922C;
}

.reviews.active svg g path, .reviews:hover svg g path{
    stroke: #FF922C;
    fill: #FF922C;
}

.logout:hover svg path{
    stroke: #FF922C;
}
/*  */


/* Profile details page*/
    .p-details{
        box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
    }

    .p-details-header h5{
        font-family: Comfortaa;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 27px;
        color: #000000;
    }

.p-details-form input{
    border: 1px solid #DDE2E5;
    box-sizing: border-box;
    border-radius: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    /*filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.04));*/
}

.p-details-form  button{
    border-radius: 16px;
}

.p-details-form  a:hover{
    color: #F89E4C;
}

.save{
    border-radius: 16px;
}
/*Profile details page*/

@media screen and (min-width: 320px){
    .hero{
        /*height: 70vh;*/
        overflow: hidden;
    }

    .hero-text{
        margin-left: 15px;
    }
    .navbar-brand {
        margin-left: 5px;
    }

    .arc{
        margin-left: 0;
        width: 800px;
        height: 800px;
        top: -450px;
    }

    .hero-inner-text{
        width: 300px;
    }

    .hero-inner-text h3{
        font-size: 45px;
        line-height: 45px;
    }

    .hero-search-container {
        top: -50px;
    }

    .search-input .form-group{
        margin-bottom: 10px;
    }

    .search-btn{
        border-radius: 0 0 16px 16px;
    }

    .how-it-works-header h3, .restaurant-header h3 {
        font-size: 45px;
        line-height: 45px;
    }

    .restaurant-header h3 {
        font-size: 30px;
        line-height: 45px;
        padding-left: 20px;
    }

    .how-it-works-content, .restaurant-content {
        padding: 0 20px;
    }

    .metrics {
        margin: 20px;
    }

    .metric-item {
        margin-bottom: 40px;
    }

    .metric-title {
        line-height: 27px;
        font-size: 20px;
    }

    .copyright{
        /*margin-top: 20px;*/
    }

    .himg1 {
        left: -15%;
    }

/*  Single restaurant responsive page  */
    .restaurant-tabs{
        margin-left: -12px;
        margin-right: -15px;
        margin-bottom: 15px;
    }


    .restaurant-tabs > .nav-pills {
        background-color: inherit !important;
        flex-wrap: nowrap;
    }

    .restaurant-tabs > .nav-pills li{
        margin: 0px 15px;
        padding: 0px 14px;
    }

    .r-tab li a {
        font-size: 16px;
        padding: 12px 0px;
        border-radius: 0 !important;
    }

    .categories > .list-group > .list-group-item.active{
        border-bottom: 3px solid #FF922C;
        border-left: 0;
        background-color: unset !important;
    }

    .categories{
        overflow-y: hidden;
        overflow-x: auto;

    }

    .category-header{
        font-size: 16px;
        padding: 10px;
        font-weight: bold;
    }

    .categories ul{
        overflow-y: hidden;
        overflow-x: auto;
    }
/*  Single restaurant responsive page ends */
}

@media screen and (min-width: 480px){

    .arc{
        margin-left: 300px;
    }

    .how-it-works-content, .restaurant-content {
        padding: 0 50px;
    }
}

@media screen and (min-width: 550px){

    .arc{
        margin-left: 300px;
    }

    .how-it-works-content, .restaurant-content {
        padding: 0 100px;
    }
}

@media screen and (min-width: 576px){
    .restaurant-tabs > .nav-pills li{
        box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
        border-radius: 16px;
        margin: 0px 15px;
        padding: 0px 45px;
    }

    .r-tab li a{
        font-family: Comfortaa;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 27px;
        padding: 12px 0px;
        border-radius: 0 !important;
    }

    .category-header{
        font-size: 20px;
        padding: 15px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 576px){
    .inner-wrapper .sidebar{
        bottom: 0;
        height: 60px;
        width: 100vw;
    }
    .inner-wrapper main{
        margin-left: 0;
    }

    .sidebar-item{
        margin-top: 0;
        margin-bottom: 0;
    }

    .sidebar-nav{
        padding-top: 10px;
    }

    .sidebar-top{
        top: unset;
    }
}

@media only screen and (min-width: 576px){
    .inner-wrapper > .sidebar{
        width: 60px;
        height: 100vh;
    }

    .sidebar-item{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .sidebar-nav{
        padding-top: 0px;
    }

}

@media screen and (min-width: 768px){

    .hero{
        /*height: 60vh;*/
    }

    .arc{
        margin-left: 245px;
        width: 1213px;
        height: 1013px;
        top: -650px;
    }

    .hero-text{
        margin-left: 30px;
    }
    .navbar-brand {
        margin-left: 25px;
    }


    .hero-inner-text {
        width: 400px;
    }

    .search-btn{
        border-radius: 0 16px 16px 0;
    }


    .how-it-works-content, .restaurant-content {
        padding: 0 20px;
    }

    .how-widget-text {
        padding: 10px 16px;
        font-size: 14px;
        line-height: 33px;
    }

    .search-input .form-group{
        margin-bottom: 0;
    }

    .card-body {
        /*padding: 10px;*/
    }

    .himg1{
        position: relative;
        left: 45%;
        border-radius: 40%;

    }

    .himg2{
        border-radius: 50%;
        top: -60px;
        position: relative;
        right: 35%;
    }
}


@media screen and (min-width: 992px){
    .categories > .list-group > .list-group-item.active{
        border-left: 3px solid #FF922C;
        margin-left: -1px;
        border-bottom: 0;
        background-color: unset !important;
    }
}



@media screen and (min-width: 1200px){
    .hero-search-container {
        /*top: -120px;*/
    }

    .hero{
        /*height: 100vh;*/
    }

    .card-body {
        /*padding: 20px;*/
    }
    .how-it-works-content, .restaurant-content {
        padding: 0 100px;
    }

    .arc{
        position: absolute;
        width: 1013px;
        height: 1013px;
        left: 245px;
        top: -600px;
        z-index: -999;
        background: #FFEEDE;
        border-radius: 50%;
        overflow: hidden;
    }

    .himg2 {
        right: 15%;
    }

    .himg1 {
        left: 70%;
    }
}

@media screen and (max-width: 1999px){

}

@media screen and (min-width: 1350px){

}



/*Check screen size to know the height of the hero*/

@media screen and (min-height: 644px){
    .hero{
        /*height: 100vh;*/
    }

    .hero-search-container{
        /*margin-top: -100px;*/
    }
}

@media screen and (min-height: 800px){
    .hero{
        /*height: 80vh;*/
    }
}

@media screen and (min-height: 1000px){
    .hero{
        /*height: 50vh;*/
    }
}

@media screen and (min-height: 800px) and (min-width: 1200px){
    .hero{
        /*height: 100vh;*/
    }


}



@media screen and (min-height: 800px){

}

@media screen and (min-height: 500px) and (min-width: 1000px){

}